* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    background: url(./images/world.png) no-repeat;
    background-size: 100%;
    width: 80hw;
    height: 500px;
    border: 6px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}


.grass{
    position:relative;
    top: 465px;
    height: 30px;
    width: 100%;
}
.mario{
    width: 130px;
    bottom: 20px;
    position: absolute;
}
.cloud{
    position: absolute;

    bottom: 350px;
    width: 250px;
    right: 0;
    animation: cloud-animation 30s infinite linear;
}

.pipe{
    position: absolute;
    bottom: 20px;
    width: 80px;
    right: 0px;
    animation: pipe-animation 2s infinite linear;
}
.jump{
    animation: jump 500ms ease;
}
#scoreText{
    bottom:400px;
    left: 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    position: absolute;
   
}

#resetBtn{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    width: 80px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    position: sticky;
    left: 10px;
}
#dtPress{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 80px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    transform: translateY(40px);
    z-index: 2;

}
@keyframes pipe-animation {
    from{
        right: 0;
    }
    to{
        right: 100%;
    }
}
@keyframes cloud-animation {
    from{
        right: 0;
    }
    to{
        right: 100%;
    }
}
@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 205px;
    }
    60% {
        bottom: 185px;
  
    }
    80% {
        bottom: 170px;
    }
    100% {
        bottom: 165px;
    }
  
}